
doctype html
html.
  <head>
      <meta charset="utf-8">
      <title>StudentToMentor Login</title>
      <meta charset="utf-8"> 
      <link rel="stylesheet" href="public/stylesheets/login.css" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>

    <div id="root"> </div>

    <script src="public/javascripts/react_bundles/common_components.js" type="text/javascript"></script>
    <script src="public/javascripts/react_bundles/login_components.js" type="text/javascript"></script>
  </body>

